{% extends "base.html" %}
{% load static %}
{% block title %}
    Ваша корзина
{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static "css/cart-detail.css"%}">
{% endblock %}

{% block content %}
    <div class="container" >
        {% if cart %}
        <h1>Ваша корзина</h1>
        <a class="btn btn-primary make-order" href="/make-order">Сделать заказ</a>
        <table class="table  table-hover table-bordered">
            <thead class="bg-light">
                <tr>
                    <th scope="col">Изображение</th>
                    <th scope="col">Продукт</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Удаление</th>
                </tr>
            </thead>
            <tbody>
            {% for product in cart %}
                    <tr>
                        <td>
                            <img height="150" src="{{ product.image }}">
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.cost }}</td>
                        <td><a class="btn btn-primary" href="{% url "cart_remove" product.id %}">Удалить</a></td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h1>Ваша корзина пуста</h1><br>
            <a class="btn btn-primary" href="/">Перейти к каталогу</a>
        {% endif %}
    </div>
{% endblock %}