img {
        object-fit: contain;
    }

#collapseCategories {
    margin-bottom: 1cm;
    margin-right: 50%;
}

a.cart-icon {
     position: fixed;
     margin-left: 90%;
     margin-top: 0.5cm;
}

