{% extends "base.html" %}
{% load static %}
{% block title %}
    Оформление заказа
{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static "css/make_order.css"%}">
{% endblock %}


{% block content %}
    <div class="container" >
        <h1 class="col">Форма заказа</h1>
        {% if message %}
            <h3>{{ message }}</h3>
        {% endif %}
        <form action="/complite-order/" method="post" id="orderForm" onsubmit="insertCost();">
        {% csrf_token %}
        <div class="form-group">

        <label for="date1">Выберите дату, когда хотите взять товары в прокат</label>
        <div class="date-input">
        <input type="date" min="{{ today }}" required="required" class="form-control" name="taking_date" id="date1" onchange="takenDateChange();">
        </div>

        <label for="date2" >Выберите дату, до которой берете товары в прокат</label>
        <div class="date-input">
        <input type="date" min="{{ today }}" required="required" class="form-control" name="return_date" id="date2">
        </div>

        {% if products %}
        <table class="table  table-hover table-bordered">
            <thead class="bg-light">
                <tr>
                    <th scope="col">Выбор</th>
                    <th scope="col">Изображение</th>
                    <th scope="col">Продукт</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                    <tr>
                        <td id="num-inp{{ product.id }}">
                                <input type="checkbox"  id="select{{ product.id }}" name="checked_product" oninput="checkedProduct({{ product.id }})" value="{{ product.id }}">

                            <div class="number-input">
                            <button class="number-minus" type="button"  onclick="numberButtonClick({{ product.id }}, 1, {{ product.stock }}); this.nextElementSibling.stepDown(); this.nextElementSibling.onchange(); ">-</button>
                            <input type="number" min="1" max="{{ product.stock }}" name="number{{ product.id }}" id="number{{ product.id }}" value="1" >
                            <button class="number-plus" type="button" onclick=" numberButtonClick({{ product.id }}, 2, {{ product.stock }}); this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
                            </div>
                            <p class="stock">Доступно {{ product.stock }} единиц</p>
                        </td>
                        <td>
                            <img height="150" src="{{ product.image }}">
                        </td>
                        <td>{{ product.name }}</td>
                        <td id="cost{{ product.id }}">{{ product.cost }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4>В вашей корзине нет товаров</h4>
        {% endif %}
        <h4>Стоимость заказа: <div class="order-cost" name="orderCost" id="orderCost">0</div></h4>
        {% if products %}
            <button type="submit" name="order_paid" class="btn btn-primary">Оплатить заказ</button>

            <button type="submit" name="order_save" class="btn btn-success">Сохранить, но оплатить позже</button>

        {% endif %}
        </div>
        </form>
    </div>
    <script src="{% static "scripts/make_order.js" %}"></script>
{% endblock %}