{% extends "base.html" %}
{% load static %}
{% load  dictionary_filters %}
{% block title %}
    Ваши заказы
{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static "css/order_list.css"%}">
{% endblock %}


{% block content %}
    <a href="/cart-detail" class="cart-icon"><img src="{% static  "img/cart.png"%}" title="Корзина" height="80" width="80"></a>
    <div class="container" >
        {% if orders %}
        <h2>Оплаченые заказы</h2>
        <table class="table  table-hover">
            <thead class="bg-light">
                <tr>
                    <th scope="col">Цена</th>
                    <th scope="col">Дата взятия в прокат</th>
                    <th scope="col">Дата возврата</th>
                    <th scope="col">Единиц товара</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders|slice:slice_str_paid %}
                    <tr>
                        <td>{{ order.cost }}</td>
                        <td>{{ order.taking_date|date:"d.m.Y" }}</td>
                        <td>{{ order.return_date|date:"d.m.Y" }}</td>
                        <td>{{ order.number}}</td>
                        <td><a class="btn btn-primary" href="{% url "order_details" order.id %}">Подробнее</a></td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Неоплаченые заказы</h2>
        <table class="table  table-hover">
            <thead class="bg-light">
                <tr>
                    <th scope="col">Цена</th>
                    <th scope="col">Дата взятия в прокат</th>
                    <th scope="col">Дата возврата</th>
                    <th scope="col">Единиц товара</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders|slice:slice_str_saved%}
                    <tr>
                        <td>{{ order.cost }}</td>
                        <td>{{ order.taking_date|date:"d.m.Y" }}</td>
                        <td>{{ order.return_date|date:"d.m.Y" }}</td>
                        <td>{{ order.number}}</td>
                        <td><a class="btn btn-primary" href="{% url "order_details" order.id %}">Подробнее</a></td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h2>Нет заказов</h2>
        {% endif %}
    </div>
{% endblock %}